.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

.navbar-left .logo {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding-right: 20px;
}

.navbar-right .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-right .nav-links li {
    margin-right: 1rem;
}

.navbar-right .nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 0 1rem;
}

.navbar-center{
    padding-left: 200px;
}